- if entity == current_user
	%span.follow-button Eu mesmo
- elsif current_user.is_following? entity
	= link_to "Seguindo", current_user.relationship(entity), :class => "follow-button", :method => :delete, :remote => true
- else
	= link_to "Seguir", relationships_path(:following_id => entity.id, :following_type => entity.class), :class => "follow-button", :method => :post, :remote => true
