.user-resume
	= image_tag user.picture.url(:small_square), :class => "user-picture user-picture-50x50"
	%span.user-name= user.name
	= render :partial => 'relationships/follow', :locals => { :entity => user }