%article.event.event-resume
	%header.event-header.clearfix{ :style => "background-image: url(#{event.cover.url(:small)})" }
		%hgroup
			= link_to event do
				%h1.event-name= event.name
				%h2.event-company-name= event.company.name
		.event-header-buttons
			= render :partial => 'rsvps/button', :locals => { :rsvp => event.rsvp(current_user), :event => event }
			.event-friends-counter= "#{event.rsvps.attending.length} indo"
	.event-info
		%time.event-start-time
			%span.event-start-time-hour= event.start_time.strftime(event.start_time.min != 0 ? '%kh%M' : '%kh')
			%span.event-start-time-full-date
				%span.event-start-time-day-of-week= event.start_time.strftime('%A')
				%span.event-start-time-day= event.start_time.strftime('%e de %B')
		.event-friends-list.clearfix
			- event.rsvps.attending.each do |rsvp|
				= link_to rsvp.user do
					= image_tag rsvp.user.picture.url(:small_square), :class => 'event-friend'
