= nested_form_for @event, :multipart => true do |f|
	- if @event.errors.any?
		#error_explanation
		%h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
		%ul
			- @event.errors.full_messages.each do |msg|
				%li= msg

	= f.hidden_field :company_id
	.field
		= f.label :name
		= f.text_field :name
	.field
		= f.label :cover
		= f.file_field :cover
	.field
		= f.label :description
		= f.text_area :description
	.field
		= f.label :start_time
		= f.datetime_select :start_time
	= f.fields_for :entrances do |entrance_form|	
		.field
			= entrance_form.label :price
			= entrance_form.number_field :price
		.field
			= entrance_form.label :description
			= entrance_form.text_field :description
		.field
			= entrance_form.label :order
			= entrance_form.number_field :order
		.field
			= entrance_form.link_to_remove "Remover"
	.field
		= f.link_to_add "Adicionar um preço", :entrances
	.field
		= f.label :labels
		= f.collection_select :label_ids, Label.all, :id, :name, {}, { :class => 'chzn-select', :multiple => 'multiple', :style => 'width: 350px;' }
	.actions
		= f.submit 'Save'
