= header @event.name, :back => root_url

%article.event
	%header.event-header.clearfix{ :style => "background-image: url(#{@event.cover.url(:small)})" }
		%hgroup
			= link_to @event.company do
				%h2.event-company-name= @event.company.name
				%h3.event-company-site= @event.company.site
		.event-header-buttons
			= render :partial => 'rsvps/button', :locals => { :rsvp => @event.rsvp(current_user), :event => @event }
			.event-friends-counter= "#{@event.rsvps.attending.length} indo"
	.event-info
		%time.event-start-time
			%span.event-start-time-hour= @event.start_time.strftime(@event.start_time.min != 0 ? '%kh%M' : '%kh')
			%span.event-start-time-full-date
				%span.event-start-time-day-of-week= @event.start_time.strftime('%A')
				%span.event-start-time-day= @event.start_time.strftime('%e de %B')
		%p.event-description
			= @event.description.chomp
		%p.event-location.clearfix
			= image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=size:mid|color:red|#{@event.company.location.street}, #{@event.company.location.number}, #{@event.company.location.city}, #{@event.company.location.state}, #{@event.company.location.country}&size=60x60&sensor=false", :class => "event-location-map"
			= "#{@event.company.location.street}, #{@event.company.location.number}"
			%br
			= "#{@event.company.location.district}, #{@event.company.location.city} - #{@event.company.location.state}"
			%br
			= @event.company.phone
		.event-entrances
			%h2.event-entraces-title entrada (preços)
			%table.table.table-striped
				= render @event.entrances.ordered
		.event-rsvps
			%h2.event-rsvps-counter= pluralize @event.rsvps.attending.length, "confirmado", "confirmados"
			.event-rsvps-list.clearfix
				- @event.rsvps.attending.each do |rsvp|
					= link_to rsvp.user do
						= image_tag rsvp.user.picture.url(:small_square), :class => 'event-friend'
