- if rsvp.blank?
	= link_to "Eu vou!", event_rsvps_path(event), :class => "rsvp-button rsvp-button-event-#{event.id}", :method => :post, :remote => true
- elsif rsvp.status.attending?
	= link_to "Indo", rsvp_path(:id => rsvp.id, :rsvp => { :status => :declined }), :class => "rsvp-button rsvp-button-event-#{event.id}", :method => :put, :remote => true
- else
	= link_to "Eu vou!", rsvp_path(:id => rsvp.id, :rsvp => { :status => :attending }), :class => "rsvp-button rsvp-button-event-#{event.id}", :method => :put, :remote => true
