= nested_form_for @company, :html => { :multipart => true } do |f|
	- if @company.errors.any?
		#error_explanation
		%h2= "#{pluralize(@company.errors.count, "error")} prohibited this company from being saved:"
		%ul
			- @company.errors.full_messages.each do |msg|
				%li= msg

	.field
		= f.label :name
		= f.text_field :name
	.field
		= f.label :phone
		= f.text_field :phone
	= f.fields_for :location, @company.location do |location_fields|
		.field
			= location_fields.label :zip
			= location_fields.text_field :zip
		.field
			= location_fields.label :street
			= location_fields.text_field :street
		.field
			= location_fields.label :number
			= location_fields.text_field :number
		.field
			= location_fields.label :complement
			= location_fields.text_field :complement
		.field
			= location_fields.label :district
			= location_fields.text_field :district
		.field
			= location_fields.label :city
			= location_fields.text_field :city
		.field
			= location_fields.label :state
			= location_fields.text_field :state
		.field
			= location_fields.label :country
			= location_fields.text_field :country
	= f.fields_for :pictures do |picture_form|	
		.field
			= picture_form.label :image
			= picture_form.file_field :image
		.field
			= picture_form.link_to_remove "Remover"
	.field
		= f.link_to_add "Adicionar uma imagem", :pictures
	.actions
		= f.submit 'Save'