%h1 Listing companies

%table
	%tr
		%th Name
		%th Phone
		%th Location
		%th
		%th
		%th

	- @companies.each do |company|
		%tr
			%td= company.name
			%td= company.phone
			%td= company.location_id
			%td= link_to 'Show', company
			%td= link_to 'Edit', edit_company_path(company)
			%td= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }
			%td= link_to 'Events', company_events_path(company)
			%td= link_to 'Activities', company_activities_path(company)
		
%br

= link_to 'New Company', new_company_path
