= header "", :back => root_url

%article.company.clearfix
	%header.company-header.clearfix
		= render_pictures @company.pictures
		
	%h1.company-name= @company.name
	%p.company-location.clearfix
		= "#{@company.location.street}, #{@company.location.number}"
		%br
		= "#{@company.location.district}, #{@company.location.city} - #{@company.location.state}"
		%br
		= @company.phone
		%br
		= image_tag "http://maps.googleapis.com/maps/api/staticmap?markers=color:orange|#{@company.location.street}, #{@company.location.number}, #{@company.location.city}, #{@company.location.state}, #{@company.location.country}&size=400x150&sensor=false", :class => "company-location-map"

	.company-friends
		%h2.company-friends-counter= pluralize @company.friends(current_user).size, "amigo esteve aqui", "amigos estiveram aqui"
		.company-friends-list.clearfix
			- @company.friends(current_user).each do |user|
				= link_to user do
					= image_tag user.picture.url(:small_square), :class => 'company-friend'