// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity {
	font-size: 10pt;
	
	& + .activity {
		border-top: 1pt solid #efefef;
	}
}