// Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.company-pictures-carousel {
	margin: 0;

	.carousel-control {
		font-size: 16pt;
		top: 50%;
	}
	
	.carousel-indicators {
		bottom: 10px;
		top: inherit;
		right: 50%;
		padding: 0;
		
		li {
			margin: 0 2px;
		}
	}
	
	$carousel-indicator-size: 14px;
	@for $i from 1 through 8 {
	  .carousel-indicators-#{$i} { margin-right: -($carousel-indicator-size * $i) / 2; }
	}
	
}

.company-location {
	margin: 0 10pt;
	font-size: 8pt;
}

.company-location-map {
	margin-top: 10pt;
}

.company-name {
	margin: 5pt 10pt;
	font-size: 13pt;
}

.company-friends-list {
	margin: 0;
}

.company-friend {
	width: 29pt;
	float: left;
	margin: 1pt 0 0 1pt;
	
	& + .company-friend {
		margin-left: 1pt;
	}
}

.company-friends {
	margin: 10pt 10pt 0 10pt;
}

.company-friends-counter {
	font-size: 10pt;
	line-height: 12pt;
}
