// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-resume {
	display: inline-block;
	width: 100%;
	
	.rsvp-button {
		font-size: 8pt;
		line-height: 20pt;
		padding: 0 5pt;
	}
}

.event-header {
	position: relative;
	display: block;
	width: 100%;
	min-height: 80pt;
	background-position: center center;
	background-color: #eee;
	background-repeat: no-repeat;
	background-size: cover;
	
	hgroup {
		width: 100%;
		position: absolute;
		bottom: 0;
		padding: 30pt 5pt 5pt 5pt;
		text-shadow: 0 0 1pt #000;
		background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(rgba(0, 0, 0, 0.5)));
	}
	
	.event-resume & {
		min-height: 50pt;
	}
}

.event-header-buttons {
	position: absolute;
	right: 10pt;
	bottom: -5pt;
	text-align: right;
}
	
.event-friends-counter {
	margin-top: 3pt;
	width: 100%;
	padding: 0 10pt;
	font-size: 7pt;
	line-height: 10pt;
	text-transform: uppercase;
	color: #fff;
	background-color: #666;
	box-shadow: 0 0 1pt #eee;
	
	.event-resume & {
		padding: 0 5pt;
	}
}

.event-info {
	padding: 5pt;
}

.event-name {
	margin: 0;
	font-size: 14pt;
	line-height: 18pt;
	color: #fff;
	float: left;
	
	.event-resume & {
		font-size: 10pt;
		line-height: 14pt;
	}
}

.event-company-name {
	margin: 0;
	font-size: 12pt;
	line-height: 12pt;
	color: #fff;
	float: left;
	clear: left;
	
	.event-resume & {
		font-size: 8pt;
		line-height: 9pt;
		font-weight: normal;
	}
}

.event-company-site {
	margin: 0;
	font-size: 8pt;
	line-height: 9pt;
	color: #fff;
	font-weight: normal;
	float: left;
	clear: left;
}

.event-data {
	display: block;
}

.event-start-time {
	margin: 5pt 0 0 0;
	color: #666;
	display: block;
}

.event-start-time-hour {
	font-size: 17pt;
	line-height: 20pt;
	
	.event-resume & {
		font-size: 14pt;
		line-height: 16pt;
	}
}

.event-start-time-full-date, .event-start-time-hour {
	display: inline-block;
	vertical-align: middle;
	height: 20pt;
}

.event-start-time-day-of-week, .event-start-time-day {
	display: block;
}

.event-start-time-day-of-week {
	text-transform: uppercase;
	font-size: 8pt;
	font-weight: bold;
	line-height: 11pt;
	
	.event-resume & {
		font-size: 7pt;
		line-height: 8pt;
	}
}

.event-start-time-day {
	font-size: 8pt;
	line-height: 8pt;
	
	.event-resume & {
		font-size: 6.5pt;
		line-height: 6.5pt;
	}
}

.event-friends-list {
	margin: 0;
}

.event-friend {
	width: 29pt;
	float: left;
	margin: 1pt 0 0 1pt;
	
	& + .event-friend {
		margin-left: 1pt;
	}
	
	.event-resume & {
		width: 31pt;
		margin: 0;
	}
}

.event-description {
	margin: 0 0 10pt 0;
	font-size: 8pt;
	line-height: 12pt;
	white-space: pre-line;
}

.event-location {
	font-size: 8pt;
	line-height: 12pt;
	color: #666;
}

.event-location-map {
	float: left;
	margin: 0 5pt 5pt 0;
}

.event-rsvps {
	margin-top: 10pt;
}

.event-rsvps-counter, .event-entraces-title {
	font-size: 10pt;
	line-height: 12pt;
}

.entrance-price {
	width: 50pt;
}

.entrance-price, .entrance-description {
	font-size: 8pt;
}