body:after {
	content: ' ';
	display: block;
	width: 100%;
	height: 40pt;
}

.main-menu {
	position: fixed;
	bottom: 0;
	background-color: #000;
	color: #fff;
	width: 100%;
}

.main-menu-item {
	width: 33%;
	line-height: 40pt;
	float: left;
	display: block;
	list-style: none;
	text-transform: uppercase;
	font-size: 7pt;
	font-weight: normal;
	text-align: center;
	
	a {
		color: inherit;
		display: block;
		line-height: normal;
		padding: 5pt 0;
		
		i {
			color: inherit;
			font-size: 20pt;
			vertical-align: middle;
		}
	}
}

$header-menu-height: 35px;

.header-menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: #000;
	color: #fff;
	height: $header-menu-height;
	overflow: hidden;
}

.header-menu + .content {
	margin-top: $header-menu-height;
}

.header-menu-back, .header-menu-title {
	padding: 0 10px;
	color: inherit;
	font-size: 10pt;
	text-transform: uppercase;
	margin: 0;
	font-weight: bold;
	display: inline-block;
	line-height: $header-menu-height;
	
	&:hover {
		color: inherit;
	}
}

.header-menu-back + .header-menu-title {
	border-left: 1px solid #999;
}
