// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.follow-button {
	display: inline-block;
	padding: 0 5pt;
	font-size: 8pt;
	line-height: 16pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background-color: #666;
	
	&:hover {
		color: #fff;
	}
	
	.user-resume & {
		position: absolute;
		right: 0;
		top: 50%;
		margin: -8pt 5pt 0 5pt;
	}
}
