// Place all the styles related to the rsvps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.rsvp-button {
	display: block;
	padding: 0 10pt;
	font-size: 10pt;
	line-height: 22pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background-color: #666;
	box-shadow: 0 0 1pt #eee;
	
	&:hover {
		color: #fff;
	}
}
