// Place all the styles related to the UserSessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content.user_sessions {
	background-image: image-url("user_session/login-background.jpg");
	height: 100%;
	position: fixed;
	width: 100%;
	text-align: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #000;
	
	h1 {
		color: #fff;
		font-size: 33pt;
	}
	
	.btn-facebook {
		margin-top: 200pt;
	}
}