// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-header {
	position: relative;
	padding: 5pt 0 5pt 48pt;

	.user-picture {
		position: absolute;
		top: 0;
		left: 0;
		margin: 5pt;
	}
	
	.follow-button {
		margin-top: 5pt;
	}
}

.user-name {
	margin: 0;
	font-size: 10pt;
	line-height: 16pt;
}

.user-relationships {
	margin: 0;
	padding: 0;
	
	li {
		list-style: none;
		font-size: 8pt;
		line-height: 20pt;
		color: #aaa;
		float: left;
		
		& + li {
			margin-left: 10pt;
		}
	}
}

.user-menu {
	margin: 4pt 0;
}

.user-menu-item {
	list-style: none;
	float: left;
	width: 33%;
	text-align: center;
	font-size: 10pt;
	line-height: 16pt;
	text-transform: lowercase;
	
	a {
		color: inherit;
	}
}

.user-menu-item-selected {
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	border-bottom: 2pt solid #000;
}

.user-picture {
	
	.user-resume &, .activity & {
		display: inline;
		vertical-align: middle;
	}
}

.user-picture-50x50 {
	width: 50px;
	height: 50px;
}

.user-resume {
	position: relative;
	
	& + .user-resume {
		border-top: 1pt solid #efefef;
	}
}

.user-name {
	.user-resume & {
		font-size: 10pt;
	}
}