%h1 Balati

%a.btn.btn-primary.btn-facebook{ :href => "/auth/facebook" }
	Entrar com o Facebook
/
/= form_for @user_session, :url => {:action => "create"} do |f|
/	%div
/		= f.label :email
/		= f.text_field :email
/	%div
/		= f.label :password
/		= f.password_field :password
/	%div
/		= f.check_box :remember_me
/		= f.label :remember_me
/	%div
/		= f.submit "Login"
