!!!5

/[if lt IE 7]
	<html class="no-js ie6 oldie">
/[if IE 7]
	<html class="no-js ie7 oldie">
/[if IE 8]
	<html class="no-js ie8 oldie">
\<!--[if gt IE 8]> -->
\	<html class="no-js">
\<!--<![endif]-->

%head
	%meta{ :charset => "utf-8" }
	= csrf_meta_tags

	/ Always force latest IE rendering engine (even in intranet) & Chrome Frame
	/ Remove this if you use the .htaccess
	%meta{ :http => { :equiv => "X-UA-Compatible" }, :content => "IE=edge,chrome=1" }

	%title Balati
	%meta{ :name => "description", :content => "" }
	%meta{ :name => "author", :content => "" }

	/ Mobile viewport optimized: j.mp/bplateviewport
	%meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

	/ Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons
	= stylesheet_link_tag "application", :media => "all"

	/ All JavaScript at the bottom, except for Modernizr and Respond.
	/ Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
	= javascript_include_tag "modernizr"
%body
	= yield :header

	.content{ :class => "#{params[:controller]} #{params[:action]}" }
		= yield :sub_header
		= yield

	= yield :footer
	
	= javascript_include_tag "application"
	
	/ Segment.io (Analytics)
	- if Rails.env.production?
		:javascript
			var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias","ready"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
			analytics.load("ucuvf1vlp4");
		- if current_user
			:javascript
				analytics.identify(#{current_user.id}, {
				    email: "#{current_user.email}",
				    name: "#{current_user.name}",
				    gender: "#{current_user.gender}"
				});

\</html>
