- content_for :footer do
	%nav.main-menu
		%li.main-menu-item
			= link_to current_user do
				%i.icon-user
				%br<>
				Perfil
		%li.main-menu-item
			= link_to root_path do
				%i.icon-home
				%br<>
				Home
		%li.main-menu-item
			= link_to user_path(current_user) do
				%i.icon-cogs
				%br<>
				Configurações

= render :template => 'layouts/application'