= header @user.name, :back => root_url

- content_for :sub_header do
	%header.user-header.clearfix
		= image_tag @user.picture.url(:small_square), :class => "user-picture user-picture-50x50"
	
		= render :partial => 'relationships/follow', :locals => { :entity => @user }
	
		%nav.user-relationships.clearfix
			%li.user-followers-counter= link_to pluralize(@user.followers.length, "seguidor", "seguidores"), followers_user_path(@user)
			%li.user-following-counter= link_to pluralize(@user.following.length, "seguindo", "seguindo"), following_user_path(@user)

	%nav.user-menu.clearfix
		%li.user-menu-item Histórico
		%li.user-menu-item.user-menu-item-selected= link_to 'Festas', @user
		%li.user-menu-item= link_to 'Feed', user_activities_path(@user)

= render :template => 'layouts/main'